%h2 Friend Requests
= link_to "Accept all friend requests", friendship_create_path(accept_all: true)
- @user.requested_friends.each do |requested_friend|
  %p
    = link_to requested_friend.name, requested_friend
    = link_to "Accept Friendship", friendship_create_path(accept_request: true, friend_id: requested_friend)
    = link_to "Decline Friendship", friendship_destroy_path(friend_id: requested_friend)