%h2
  Notifications
  %small
    = link_to "Mark all notifications as read", params.merge(read_notification: 'all', to_show: 'notifications')
%table{ :class => 'table' }
  - @user.notifications.each do |notification|
    %tr
      %td
        - unless notification.seen?
          %span{ :class => "label label-info" } new
        = link_to notification.body, "#{notification.tunnel}?read_notification=#{notification.id}"